.wagtail-userbar {
     top: 800px !important;
     left: 10px !important;
}

.responsive-object {
    position: relative;
    width: 900;

}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
