{% extends "newspaper/base.html" %}

{% block sub-title %} | Index{% endblock %}

{% block content-main %}


   <h1> {{ object.first_name }} {{ object.last_name }} </h1>

   {% if error_message %} <p> <strong> {{ error_message }} </strong> </p> {% endif %}

   <form  action="{% url 'newspaper:detailed' object.pk %}" method="post">

       {% csrf_token %}
       {% for article in object.articles_set.all %}
           <label for="choice{{ forloop.counter }}">{{article.title}}</label>
           <br>
           <label for="choice{{ forloop.counter }}">{{article.Category}}</label>
           <br>
           <label for="choice{{ forloop.counter }}">{{article.body}}</label>
           <br>
           <p>________________________________________________________________</p>

        <br>
       {% endfor %}

   </form>

{% endblock %}
