{% extends "newspaper/base.html" %}
{% load static i18n %}
{% block sub-title %} | Index{% endblock %}

{% block content-main %}

    <h1 style="color: deeppink ">
        {% trans " the list of our authors " %}
    </h1>

        {% if authors %}


            <ul>
                {% for q in authors %}
                <li>
                    {% csrf_token %}
                    <a href=" {% url 'newspaper:detailed' q.id %} "> {{ q.first_name  }} {{ q.last_name }}</a>
                </li>
                </br>
                {% endfor %}
            </ul>

        {% else %}

             <p> No Authors are available. </p>

        {% endif %}

{% endblock %}
