{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-locationpage{% endblock %}

{% block content %}

    <h1>{{ page.name }}</h1>

    {{ page.brief_description|richtext }}

    {% for event in page.get_children %}
        {% with event=event.specific %}

            <h2><a href="{% pageurl event %}"> {{ event.name }}</a></h2>
            <h5 style="color:red">{{event.location}}</h5>

        {% endwith %}
    {% endfor %}

    <p><a href="{{ page.get_parent.url }}">Return back </a></p>

{% endblock %}
